<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Trang tin tức
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadData(true, $event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div id="card-list">
    <ion-list >
      <ion-card *ngFor="let book of books">
        <ion-card-header>
          {{book.title}}
        </ion-card-header>
        <ion-card-content>
          <div [innerHTML]="book.information">

          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>